@import "../../styles/variables";
@import "../../styles/components";

.cart {
  color: $font-color-base;
  min-height: calc(100vh - 70px);

  &-title {
    margin: $spacing-50 0;
  }

  &-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80vw;
  }

  &-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: $spacing-25;
    min-height: calc(100vh - 330px);

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 55vw;
      height: $spacing-100;
      background-color: $background-black;
      border-bottom: 1px solid white;
      box-shadow: $default-shadow;

      &-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 25vw;

        .cart-list__image-container {
          width: $spacing-150;
          height: $spacing-75;
          justify-content: center;
        }

        &-image {
          max-width: $spacing-150;
          max-height: $spacing-75;
        }
      }

      &-price {
        font-weight: $font-weight-bold;
      }

      &-commands {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: $spacing-150;

        .counter {
          border: none;
        }

        &-remove {
          margin-left: $spacing-20;
        }
      }
    }
  }

  &-user-info {
    height: $spacing-500;
    width: 22.5vw;
    margin-bottom: $spacing-25;
    background-color: $background-black;
    border-radius: 5px;
    box-shadow: $default-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__data {
      color: $font-color-blue;
    }

    h3, p {
      margin: $spacing-5 $spacing-5;
    }

    h3 {
      margin-top: $spacing-20;
    }

    p:nth-child(2),
    p:nth-child(6) {
      margin-top: $spacing-20;
    }
  }

  &-summary {
    background-color: $background-black;
    border-top: 1px solid white;
    box-shadow: $default-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $spacing-50;
    margin-bottom: $spacing-15;

    &__dismiss-cart,
    &__checkout {
      height: $spacing-25;
      padding: 1px 6px;
      margin-left: $spacing-10;
      box-sizing: border-box;
    }

    &__info,
    &__actions {
      display: flex;
    }

    &__message {
      margin-right: $spacing-15;
    }

    &__total {
      font-weight: $font-weight-bold;
      margin-right: $spacing-10;
    }
  }

  &-empty {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__back-to-home {
      font-size: $font-size-big;
      padding: 1px 6px;
      display: inline-block;
      width: max-content;
    }
  }
}

.cart-modal {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $modal-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__loading {
    height: $spacing-150;

    &-spinner {
      height: $spacing-125;
    }
  }

  &__content {
    height: $spacing-250;
    width: $spacing-300;
    background-color: $background-black;
    border-radius: 10px;
    box-shadow: $default-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &-title {
      margin: 0;
    }

    .order-id {
      font-weight: $font-weight-semi-bold;
      color: $font-color-blue;
    }

    &-back {
      font-size: $font-size-big;
    }
  }
}
