@import "../../styles/variables";

.shopping-cart {
    padding: 0 $spacing-50;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
    &__icon {
        height: $spacing-25;
    }

    &__quantity {
        color: $font-color-base;
        font-weight: $font-weight-bold;
        font-size: $font-size-regular;
        margin: 0;
    }
}
