@import '../../styles/variables';

.landing-title,
.landing-subtitle {
    color: $font-color-base;
}

.landing-subtitle {
    margin-top: 0;
}

.item-count-example {
    display: flex;
    flex-direction: row;
}
