@import "./variables";

.main-button {
    background-color: $background-gray;
    color: $font-color-base;
    cursor: pointer;
    border: none;
    border-radius: $spacing-5;
    font-size: $font-size-base;
    font-weight: $font-weight-semi-bold;
    box-shadow: $default-shadow;
    padding: $spacing-5;

    &:hover {
        box-shadow: $hover-shadow;
    }

    &--disabled {
        background-color: $background-disabled;
        color: $font-color-disabled;
        pointer-events: none;
    }
}

.command-button {
    width: $spacing-20;
    background-color: $background-black;
    color: $font-color-base;
    border: none;
    cursor: pointer;
    font-size: $font-size-big;

    &:hover {
        color: $font-color-blue;
    }

    &--disabled {
        color: $font-color-disabled;
        pointer-events: none;

        &:hover {
            color: $font-color-disabled;
        }
    }
}
