// Colors
$background-black: #1d1d1d;
$background-blue: #303b50;
$background-gray: rgba(74, 74, 87, 0.5);
$background-disabled: rgb(157, 156, 156);
$link-blue: #61dafb;
$border-blue: #0a99c1;
$border-withe: #ffffff;
$border-disabled: #5c5c5c;
$font-color-base: #ffffff;
$font-color-blue: #0a99c1;
$font-color-red: #c1160a;
$font-color-disabled: #4b4b4b;

// Shadows
$default-shadow: 0px 0px 10px black;
$hover-shadow: 0px 0px 10px 3px black;

// Font Sizes
$font-size-small: 8px;
$font-size-regular: 12px;
$font-size-base: 16px;
$font-size-big: 20px;
$font-size-huge: 24px;
$font-size-header-level-1: 32px;
$font-size-header-level-2: 28px;
$font-size-header-level-3: 24px;

// Font Weights
$font-weight-light: 200;
$font-weight-semi-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

// Spacing
$spacing-5: 5px;
$spacing-10: 10px;
$spacing-15: 15px;
$spacing-20: 20px;
$spacing-25: 25px;
$spacing-50: 50px;
$spacing-75: 75px;
$spacing-100: 100px;
$spacing-125: 125px;
$spacing-150: 150px;
$spacing-200: 200px;
$spacing-250: 250px;
$spacing-500: 500px;
