@import '../../styles/_variables';

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: $font-color-base;

    &__logo {
        height: 70px;
        cursor: pointer;
    }
    
    &__brand {
        margin: 0;
        cursor: pointer;
        padding-left: 25px;
        font-size: $font-size-big;
        font-weight: $font-weight-bold;
    }
    
    &__menu {
        margin: 0;
        
        &-list {
            padding-left: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            font-size: 14px;

            li {
                padding-left: 15px;
                cursor: pointer;
            }
        }
    }
}
