@import "../../styles/variables";
@import "../../styles/components";

.item-list {
  margin-bottom: $spacing-20;
  color: $font-color-base;

  &__title {
    margin: $spacing-50 0;
  }

  &__loading,
  &__not-found {
    min-height: calc(100vh - 148px);
  }

  &__not-found {
    display: flex;
    align-items: center;
  }
}
